In [1]:
#Let's run the code that was demonstrated in the appendix to validate

In [2]:
#As a sample data set we'll use a small excerpt from the Higgs set
#available online at https://archive.ics.uci.edu/ml/datasets/HIGGS

import pandas as pd
import numpy as np

df_train = pd.read_csv('Higgs_data_partial.csv')

In [3]:
#Note this sets includes an intended Label column
#Which will be carved out by passing the associated column headers

labels_column = '0'
ID_columnlist = False

In [4]:
#To be consistent with the function calls demonstrated in the appendix, 
#We'll just drop the label columns from our set. 
#Alternatively these could be designated in the automunge(.) call.

del df_train[labels_column]

#we'll create a copy of train set to use as test set for these demonstrations
df_test = df_train.copy()

# A - Function Call Demonstrations

Automunge is available for pip install:

In [5]:
# !pip install Automunge

Or to upgrade (we currently roll out upgrades fairly frequently):

In [6]:
# !pip install Automunge --upgrade

Once installed, run this in local session to initialize:

In [7]:
from Automunge import *
am = AutoMunge()

Then, assuming we want to prepare a train set df\_train for ML, can apply default parameters as:

In [8]:
train, train_ID, labels, \
val, val_ID, val_labels, \
test, test_ID, test_labels, \
postprocess_dict = \
am.automunge(df_train)

_______________
Begin Automunge

______

versioning serial stamp:
_8.18_707576167609

Automunge returned train column set:
['1_nmbr', '2_nmbr', '3_nmbr', '4_nmbr', '5_nmbr', '6_nmbr', '7_nmbr', '8_nmbr', '9_nmbr', '10_nmbr', '11_nmbr', '12_nmbr', '13_nmbr', '14_nmbr', '15_nmbr', '16_nmbr', '17_nmbr', '18_nmbr', '19_nmbr', '20_nmbr', '21_nmbr', '22_nmbr', '23_nmbr', '24_nmbr', '25_nmbr', '26_nmbr', '27_nmbr', '28_nmbr', '1_NArw', '2_NArw', '3_NArw', '4_NArw', '5_NArw', '6_NArw', '7_NArw', '8_NArw', '9_NArw', '10_NArw', '11_NArw', '12_NArw', '13_NArw', '14_NArw', '15_NArw', '16_NArw', '17_NArw', '18_NArw', '19_NArw', '20_NArw', '21_NArw', '22_NArw', '23_NArw', '24_NArw', '25_NArw', '26_NArw', '27_NArw', '28_NArw']

Automunge returned ID column set:
['Automunge_index']

_______________
Automunge Complete

Note that if our df\_train set included a labels column, we should designate the column header with the labels\_column parameter. Or likewise we can designate any ID columns with the trainID\_column parameter.

The returned postprocess\_dict should be saved such as with pickle.

We can then consistently prepare subsequent test data df\_test in postmunge(.):

In [9]:
test, test_ID, test_labels, \
postreports_dict \
= am.postmunge(postprocess_dict, df_test)

_______________
Begin Postmunge

Postmunge returned test column set:
['1_nmbr', '2_nmbr', '3_nmbr', '4_nmbr', '5_nmbr', '6_nmbr', '7_nmbr', '8_nmbr', '9_nmbr', '10_nmbr', '11_nmbr', '12_nmbr', '13_nmbr', '14_nmbr', '15_nmbr', '16_nmbr', '17_nmbr', '18_nmbr', '19_nmbr', '20_nmbr', '21_nmbr', '22_nmbr', '23_nmbr', '24_nmbr', '25_nmbr', '26_nmbr', '27_nmbr', '28_nmbr', '1_NArw', '2_NArw', '3_NArw', '4_NArw', '5_NArw', '6_NArw', '7_NArw', '8_NArw', '9_NArw', '10_NArw', '11_NArw', '12_NArw', '13_NArw', '14_NArw', '15_NArw', '16_NArw', '17_NArw', '18_NArw', '19_NArw', '20_NArw', '21_NArw', '22_NArw', '23_NArw', '24_NArw', '25_NArw', '26_NArw', '27_NArw', '28_NArw']

_______________
Postmunge returned ID column set:
['Automunge_index']

_______________
Postmunge Complete

I find it helps to just copy and paste the full range of parameters for reference:

In [10]:
train, train_ID, labels, \
val, val_ID, val_labels, \
test, test_ID, test_labels, \
postprocess_dict = \
am.automunge(df_train, df_test = False,
  labels_column = False, trainID_column = False, 
  testID_column = False,
  valpercent=0.0, floatprecision = 32, cat_type = False, 
  shuffletrain = True, noise_augment = 0,
  dupl_rows = False, TrainLabelFreqLevel = False, 
  powertransform = False, binstransform = False,
  MLinfill = True, infilliterate=1, randomseed = False, 
  eval_ratio = .5,
  numbercategoryheuristic = 255, pandasoutput = 'dataframe', 
  NArw_marker = True,
  featureselection = False, featurethreshold = 0., 
  inplace = False, orig_headers = False,
  Binary = False, PCAn_components = False, PCAexcl = [], 
  excl_suffix = False,
  ML_cmnd = {'autoML_type':'randomforest',
             'MLinfill_cmnd':{'RandomForestClassifier':{}, 
                              'RandomForestRegressor':{}},
             'PCA_type':'default',
             'PCA_cmnd':{}},
  assigncat = {'1010':[], 'onht':[], 'ordl':[], 
               'bnry':[], 'hash':[], 'hsh2':[],
               'DP10':[], 'DPoh':[], 'DPod':[], 
               'DPbn':[], 'DPhs':[], 'DPh2':[],
               'nmbr':[], 'mnmx':[], 'retn':[], 
               'DPnb':[], 'DPmm':[], 'DPrt':[],
               'bins':[], 'pwr2':[], 'bnep':[], 
               'bsor':[], 'por2':[], 'bneo':[],
               'ntgr':[], 'srch':[], 'or19':[], 
               'tlbn':[], 'excl':[], 'exc2':[]},
  assignparam = {'global_assignparam'  : {'(parameter)': 42},
                 'default_assignparam' : {'(category)' : 
                                          {'(parameter)' : 42}},
                          '(category)' : {'(column)'   : 
                                          {'(parameter)' : 42}}},
  assigninfill = {'stdrdinfill':[], 'MLinfill':[], 
                  'zeroinfill':[], 'oneinfill':[],
                  'adjinfill':[], 'meaninfill':[], 
                  'medianinfill':[], 'negzeroinfill':[],
                  'modeinfill':[], 'lcinfill':[], 
                  'naninfill':[]},
  assignnan = {'categories':{}, 'columns':{}, 'global':[]},
  transformdict = {}, processdict = {}, evalcat = False, 
  ppd_append = False,  entropy_seeds = False, 
  random_generator = False, sampling_dict = False,
  privacy_encode = False, encrypt_key = False, 
  printstatus = 'summary', logger = {})

_______________
Begin Automunge

______

versioning serial stamp:
_8.18_867619870674

Automunge returned train column set:
['1_nmbr', '2_nmbr', '3_nmbr', '4_nmbr', '5_nmbr', '6_nmbr', '7_nmbr', '8_nmbr', '9_nmbr', '10_nmbr', '11_nmbr', '12_nmbr', '13_nmbr', '14_nmbr', '15_nmbr', '16_nmbr', '17_nmbr', '18_nmbr', '19_nmbr', '20_nmbr', '21_nmbr', '22_nmbr', '23_nmbr', '24_nmbr', '25_nmbr', '26_nmbr', '27_nmbr', '28_nmbr', '1_NArw', '2_NArw', '3_NArw', '4_NArw', '5_NArw', '6_NArw', '7_NArw', '8_NArw', '9_NArw', '10_NArw', '11_NArw', '12_NArw', '13_NArw', '14_NArw', '15_NArw', '16_NArw', '17_NArw', '18_NArw', '19_NArw', '20_NArw', '21_NArw', '22_NArw', '23_NArw', '24_NArw', '25_NArw', '26_NArw', '27_NArw', '28_NArw']

Automunge returned ID column set:
['Automunge_index']

_______________
Automunge Complete

Or for postmunge(.) with full range of parameters:

In [11]:
test, test_ID, test_labels, \
postreports_dict = \
am.postmunge(postprocess_dict, df_test,
  testID_column = False,
  pandasoutput = 'dataframe', printstatus = 'summary',
  dupl_rows = False, TrainLabelFreqLevel = False,
  featureeval = False, traindata = False, noise_augment = 0,
  driftreport = False, inversion = False,
  returnedsets = True, shuffletrain = False,
  entropy_seeds = False, random_generator = False, 
  sampling_dict = False, randomseed = False, 
  encrypt_key = False, logger = {})

_______________
Begin Postmunge

Postmunge returned test column set:
['1_nmbr', '2_nmbr', '3_nmbr', '4_nmbr', '5_nmbr', '6_nmbr', '7_nmbr', '8_nmbr', '9_nmbr', '10_nmbr', '11_nmbr', '12_nmbr', '13_nmbr', '14_nmbr', '15_nmbr', '16_nmbr', '17_nmbr', '18_nmbr', '19_nmbr', '20_nmbr', '21_nmbr', '22_nmbr', '23_nmbr', '24_nmbr', '25_nmbr', '26_nmbr', '27_nmbr', '28_nmbr', '1_NArw', '2_NArw', '3_NArw', '4_NArw', '5_NArw', '6_NArw', '7_NArw', '8_NArw', '9_NArw', '10_NArw', '11_NArw', '12_NArw', '13_NArw', '14_NArw', '15_NArw', '16_NArw', '17_NArw', '18_NArw', '19_NArw', '20_NArw', '21_NArw', '22_NArw', '23_NArw', '24_NArw', '25_NArw', '26_NArw', '27_NArw', '28_NArw']

_______________
Postmunge returned ID column set:
['Automunge_index']

_______________
Postmunge Complete

# B - Assigning Transforms and Infill

Assigning root categories is conducted in assigncat parameter and assigning infill in assigninfill - e.g. for a train set df\_train with column headers `col1' and `col2' we could assign retain normalization (retn) and an integer encoding set (ntgr) with infill types zero infill and ML infill.

Note any columns we don't explicitly assign will defer to automation or we could turn off automated defaults for pass-through of other columns by passing automunge parameter powertransform = `excl'.

In [12]:
#let's create a new column for df_train to apply these two demonstrations

df_train['col1'] = df_train['1'].copy()

df_train['col2'] = pd.DataFrame(np.random.randint(0, high = 10, size=(df_train.shape[0])))

In [13]:
assigncat = {'retn':['col1'], 'ntgr':['col2']}
assigninfill = {'zeroinfill':['col1'], 'MLinfill':['col2']}

train, train_ID, labels, \
val, val_ID, val_labels, \
test, test_ID, test_labels, \
postprocess_dict \
= am.automunge(df_train, 
  assigncat = assigncat, 
  assigninfill = assigninfill)

_______________
Begin Automunge

______

versioning serial stamp:
_8.18_415151766517

Automunge returned train column set:
['1_nmbr', '2_nmbr', '3_nmbr', '4_nmbr', '5_nmbr', '6_nmbr', '7_nmbr', '8_nmbr', '9_nmbr', '10_nmbr', '11_nmbr', '12_nmbr', '13_nmbr', '14_nmbr', '15_nmbr', '16_nmbr', '17_nmbr', '18_nmbr', '19_nmbr', '20_nmbr', '21_nmbr', '22_nmbr', '23_nmbr', '24_nmbr', '25_nmbr', '26_nmbr', '27_nmbr', '28_nmbr', 'col1_retn', 'col2_ordl', '1_NArw', '2_NArw', '3_NArw', '4_NArw', '5_NArw', '6_NArw', '7_NArw', '8_NArw', '9_NArw', '10_NArw', '11_NArw', '12_NArw', '13_NArw', '14_NArw', '15_NArw', '16_NArw', '17_NArw', '18_NArw', '19_NArw', '20_NArw', '21_NArw', '22_NArw', '23_NArw', '24_NArw', '25_NArw', '26_NArw', '27_NArw', '28_NArw', 'col1_NArw', 'col2_NArw', 'col2_ntgr_mnmx', 'col2_retn', 'col2_1010_0', 'col2_1010_1', 'col2_1010_2', 'col2_1010_3']

Automunge returned ID column set:
['Automunge_index']

_______________
Automunge Complete

In [14]:
#now can view the results

pd.DataFrame(train['col1_retn'])

      col1_retn
6369   0.243829
5793   0.014737
3650   0.102047
6325   0.122969
5798   0.042500
...         ...
5924   0.287013
3805   0.032638
2434   0.103700
4819   0.042985
7793   0.060373

[10000 rows x 1 columns]

In [15]:
train[['col2_NArw', 'col2_ntgr_mnmx', 'col2_retn', 'col2_1010_0', 'col2_1010_1', 'col2_1010_2', 'col2_1010_3']]

,col2_NArw,col2_ntgr_mnmx,col2_retn,col2_1010_0,col2_1010_1,col2_1010_2,col2_1010_3
6369,0,0.111111,0.555556,0,1,1,0
5793,0,0.333333,0.666667,0,1,1,1
3650,0,0.111111,0.555556,0,1,1,0
6325,0,0.444444,0.000000,0,0,0,1
5798,0,0.888889,0.222222,0,0,1,1
...,...,...,...,...,...,...,...
5924,0,0.222222,0.111111,0,0,1,0
3805,0,0.555556,0.777778,1,0,0,0
2434,0,0.777778,0.888889,1,0,0,1
4819,0,0.777778,0.888889,1,0,0,1
7793,0,0.222222,0.111111,0,0,1,0

# C - Custom Family Trees

Custom defined family trees of transformations can be passed to a function call my way fo the transformdict and processdict parameters. The transformdict parameter is used to populate a family tree, and the processdict parameter is to populate a supporting data structure for a new transformation categories.

Let's demonstrate a scenario to assemble a transformation set in which a normalization is supplemented by two types of bin aggregation. We'll create a new root category `newt' and populate with transformations pre-defined in the library. Here we'll apply an upstream retain normalization and power of ten bins, and a standard deviation bins downstream of the retain normalization. We'll also include a NArw transformation which designates markers for entries that were subject to infill based on values of the source column.

In [16]:
transformdict =  {'newt' : {'parents'       : ['newt'],
                            'siblings'      : [],
                            'auntsuncles'   : ['pwr2'],
                            'cousins'       : ['NArw'],
                            'children'      : [],
                            'niecesnephews' : [],
                            'coworkers'     : [],
                            'friends'       : ['bins']}}

The corresponding processdict will make use of transformation functions defined in the library for the retain normalization. Here NArowtype designates the types of entries from the source column that will be targets for infill, MLinfilltype designates the types of predictive models to be trained for ML infill, and labelctgy is a support entry for feature importance for cases where a label in returned in multiple configurations.

In [17]:
processdict    =  {'newt' : {'functionpointer' : 'retn', \
                                 'NArowtype' : 'numeric',
                                 'MLinfilltype' : 'numeric',
                                 'labelctgy' : 'newt'}}

We can then pass these populated structures to a function call and assign a column with header `col1' to the newly defined root category `newt'. If we want we can also apply ML infill even on this custom defined transformation set.

In [18]:
train, train_ID, labels, \
val, val_ID, val_labels, \
test, test_ID, test_labels, \
postprocess_dict \
= am.automunge(df_train, 
  assigncat = {'newt':['col1']}, 
  assigninfill = {'MLinfill':['col1']}, 
  transformdict = transformdict, processdict = processdict)

_______________
Begin Automunge

______

versioning serial stamp:
_8.18_744110185229

Automunge returned train column set:
['1_nmbr', '2_nmbr', '3_nmbr', '4_nmbr', '5_nmbr', '6_nmbr', '7_nmbr', '8_nmbr', '9_nmbr', '10_nmbr', '11_nmbr', '12_nmbr', '13_nmbr', '14_nmbr', '15_nmbr', '16_nmbr', '17_nmbr', '18_nmbr', '19_nmbr', '20_nmbr', '21_nmbr', '22_nmbr', '23_nmbr', '24_nmbr', '25_nmbr', '26_nmbr', '27_nmbr', '28_nmbr', 'col2_nmbr', '1_NArw', '2_NArw', '3_NArw', '4_NArw', '5_NArw', '6_NArw', '7_NArw', '8_NArw', '9_NArw', '10_NArw', '11_NArw', '12_NArw', '13_NArw', '14_NArw', '15_NArw', '16_NArw', '17_NArw', '18_NArw', '19_NArw', '20_NArw', '21_NArw', '22_NArw', '23_NArw', '24_NArw', '25_NArw', '26_NArw', '27_NArw', '28_NArw', 'col1_NArw', 'col1_newt', 'col1_newt_bins_0', 'col1_newt_bins_1', 'col1_newt_bins_2', 'col1_newt_bins_3', 'col1_newt_bins_4', 'col1_newt_bins_5', 'col1_pwr2_10^-1', 'col1_pwr2_10^0', 'col2_NArw']

Automunge returned ID column set:
['Automunge_index']

_______________
Automunge Complete

When it comes time to process additional data, all of these customizations will be saved in the returned postprocess\_dict, which we can then pass to the postmunge(.) function for consistent processing of a test data set.

In [19]:
df_test = df_train.copy()

In [20]:
test, test_ID, test_labels, \
postreports_dict = \
am.postmunge(postprocess_dict, df_test, pandasoutput=True)

_______________
Begin Postmunge

Postmunge returned test column set:
['1_nmbr', '2_nmbr', '3_nmbr', '4_nmbr', '5_nmbr', '6_nmbr', '7_nmbr', '8_nmbr', '9_nmbr', '10_nmbr', '11_nmbr', '12_nmbr', '13_nmbr', '14_nmbr', '15_nmbr', '16_nmbr', '17_nmbr', '18_nmbr', '19_nmbr', '20_nmbr', '21_nmbr', '22_nmbr', '23_nmbr', '24_nmbr', '25_nmbr', '26_nmbr', '27_nmbr', '28_nmbr', 'col2_nmbr', '1_NArw', '2_NArw', '3_NArw', '4_NArw', '5_NArw', '6_NArw', '7_NArw', '8_NArw', '9_NArw', '10_NArw', '11_NArw', '12_NArw', '13_NArw', '14_NArw', '15_NArw', '16_NArw', '17_NArw', '18_NArw', '19_NArw', '20_NArw', '21_NArw', '22_NArw', '23_NArw', '24_NArw', '25_NArw', '26_NArw', '27_NArw', '28_NArw', 'col1_NArw', 'col1_newt', 'col1_newt_bins_0', 'col1_newt_bins_1', 'col1_newt_bins_2', 'col1_newt_bins_3', 'col1_newt_bins_4', 'col1_newt_bins_5', 'col1_pwr2_10^-1', 'col1_pwr2_10^0', 'col2_NArw']

_______________
Postmunge returned ID column set:
['Automunge_index']

_______________
Postmunge Complete

In [21]:
#here are the returned results of our custom family tree
train[postprocess_dict['column_map']['col1']]

,col1_NArw,col1_newt,col1_newt_bins_0,col1_newt_bins_1,col1_newt_bins_2,col1_newt_bins_3,col1_newt_bins_4,col1_newt_bins_5,col1_pwr2_10^-1,col1_pwr2_10^0
3663,0,0.087937,0,0,1,0,0,0,1,0
4235,0,0.077846,0,0,1,0,0,0,1,0
2688,0,0.079642,0,0,1,0,0,0,1,0
5467,0,0.021692,0,1,0,0,0,0,1,0
9703,0,0.068839,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
3941,0,0.098769,0,0,1,0,0,0,1,0
66,0,0.124679,0,0,0,1,0,0,0,1
3412,0,0.029331,0,0,1,0,0,0,1,0
8881,0,0.013027,0,1,0,0,0,0,1,0
8823,0,0.015079,0,1,0,0,0,0,1,0

# D - Data Augmentation

The recommended workflow for applying training data augmentation is to assign any desired target columns to DP transforms in assigncat in an automunge(.) call, passing any parameters to assignparam to deviate on default noise distributions if desired, adn then process the same set again in postmunge(.) without noise injection, concatinating the two results.

In [22]:
import pandas as pd
from Automunge import Automunger
am = Automunger.AutoMunge()

df_train = pd.DataFrame({'number1':[-4,-3,-2,-1,0,1,2,3,4,5], 
                         'number2':[5,4,3,2,1,0,-1,-2,-3,-4],
                         'categoric1':['a','b','a','b','c','a','b','a','b','c'],
                         'categoric2':['x','y','x','y','z','x','y','x','y','z']})

In [23]:
#for the example of a recieved train set df_train 
#with column headers of numeric sets 'number1', 'number2'
#and column headers of categoric sets 'categoric1', 'categoric2'
#we can elect to apply noise injections to these 
#by assigning DP transforms in assigncat

assigncat = \
{'DPrt':['number1', 'number2'], 
 'DP10':['categoric1', 'categoric2']}

#the noise injection transfrms have default entries noted in READ ME
#for noise ratios and distribution parameters
#if we want to overwrite for the transformation category globally

assignparam = \
{'default_assignparam' : 
    {'DPrt' : {'sigma' : 0.05, 'flip_prob' : 0.5}, 
     'DP10' : {'flip_prob' : 0.5}
    }
}

#or overwrite for a specific column
#here we demostrate applying scaled Laplace distributed noise instead of Gaussian
assignparam.update(
  {'DPrt' : {'number2' : {'noisedistribution' : 'laplace'}}}
)
 
#We can then process our train set in automunge(.) with noise injection
 
train, train_ID, labels, \
val, val_ID, val_labels, \
test, test_ID, test_labels, \
postprocess_dict \
= am.automunge(df_train, 
                    assigncat = assigncat, 
                    assignparam = assignparam, 
                    pandasoutput = True,
                    shuffletrain = False,
                    printstatus = False)

In [24]:
train

,number1_NArw,number1_DPrt,number2_NArw,number2_DPrt,categoric1_NArw,categoric1_DPo6_0_DP10,categoric1_DPo6_1_DP10,categoric2_NArw,categoric2_DPo6_0_DP10,categoric2_DPo6_1_DP10
0,0,-0.444444,0,0.555556,0,0,1,0,1,0
1,0,-0.357265,0,0.456207,0,1,0,0,1,0
2,0,-0.290609,0,0.333333,0,0,1,0,0,1
3,0,-0.111111,0,0.261830,0,1,0,0,1,0
4,0,0.002036,0,0.111111,0,1,0,0,0,1
5,0,0.111111,0,0.162357,0,0,1,0,0,1
6,0,0.222222,0,-0.111111,0,0,1,0,1,0
7,0,0.359052,0,-0.222222,0,0,1,0,1,1
8,0,0.364564,0,-0.333333,0,0,1,0,1,0
9,0,0.552456,0,-0.444444,0,1,1,0,1,1

The convention for noise injection transforms in the DP family is that noise is injected to train sets by default and not to test sets unless signaled by the traindata parameter in postmunge(.). Test sets passed to automunge(.) do not receive injections.

Once the training data set has been processed with noise, the same data set can be processed again in the postmunge(.) function and concatenated, using the postprocess\_dict dictionary returned from the corresponding automunge(.) call. The postmunge accepts a parameter traindata which signals to the DP whether to inject noise in postmunge(.). traindata is a Boolean defaulting to False for no noise injection. When set as True postmunge(.) will inject noise. Note that each application will inject a unique randomization of noise that is independent of the randomseed parameter although consistent with any distribution parameters.

In [25]:
test, test_ID, test_labels, \
postreports_dict = \
am.postmunge(postprocess_dict, df_train, 
                 pandasoutput = True, 
                 traindata = False,
                 printstatus = False)

#we can then concatinate the results for the train data, ID sets, and label sets
#to double the number of samples to include a set with and without noise
train   = pd.concat([train, test], axis=0, ignore_index=True)
trainID = pd.concat([train_ID, test_ID], axis=0, ignore_index=True)
labels  = pd.concat([labels,test_labels], axis=0, ignore_index=True)

In [26]:
train

,number1_NArw,number1_DPrt,number2_NArw,number2_DPrt,categoric1_NArw,categoric1_DPo6_0_DP10,categoric1_DPo6_1_DP10,categoric2_NArw,categoric2_DPo6_0_DP10,categoric2_DPo6_1_DP10
0,0,-0.444444,0,0.555556,0,0,1,0,1,0
1,0,-0.357265,0,0.456207,0,1,0,0,1,0
2,0,-0.290609,0,0.333333,0,0,1,0,0,1
3,0,-0.111111,0,0.261830,0,1,0,0,1,0
4,0,0.002036,0,0.111111,0,1,0,0,0,1
5,0,0.111111,0,0.162357,0,0,1,0,0,1
6,0,0.222222,0,-0.111111,0,0,1,0,1,0
7,0,0.359052,0,-0.222222,0,0,1,0,1,1
8,0,0.364564,0,-0.333333,0,0,1,0,1,0
9,0,0.552456,0,-0.444444,0,1,1,0,1,1
10,0,0.000000,0,1.000000,0,0,1,0,0,1
11,0,0.111111,0,0.888889,0,1,0,0,1,0
12,0,0.222222,0,0.777778,0,0,1,0,0,1
13,0,0.333333,0,0.666667,0,1,0,0,1,0
14,0,0.444444,0,0.555556,0,1,1,0,1,1
15,0,0.555556,0,0.444444,0,0,1,0,0,1
16,0,0.666667,0,0.333333,0,1,0,0,1,0
17,0,0.777778,0,0.222222,0,0,1,0,0,1
18,0,0.888889,0,0.111111,0,1,0,0,1,0
19,0,1.000000,0,0.000000,0,1,1,0,1,1

Note that while our experiments only doubled the number of samples to include a set with and without noise injection, further multiples of noise injected samples may also be applied by processing in postmunge(.) with traindata=True. 

In an alternate workflow, if only a doubling of the number of samples is desired, the processing can all be performed in a single automunge(.) call by passing the same df\_train set as both the train and test sets as follows:

In [27]:
train, train_ID, labels, \
val, val_ID, val_labels, \
test, test_ID, test_labels, \
postprocess_dict \
= am.automunge(df_train, 
                    df_test = df_train, 
                    labels_column = True, 
                    assigncat = assigncat, 
                    assignparam = assignparam,
                    printstatus = False)
                    
train   = pd.concat([train, test], axis=0, ignore_index=True)
trainID = pd.concat([train_ID, test_ID], axis=0, ignore_index=True)
labels  = pd.concat([labels,test_labels], axis=0, ignore_index=True)

In [28]:
train

,number1_NArw,number1_DPrt,number2_NArw,number2_DPrt,categoric1_NArw,categoric1_DPo6_0_DP10,categoric1_DPo6_1_DP10
0,0,-0.088705,0,0.222222,0,1,0
1,0,-0.222222,0,0.335138,0,0,1
2,0,0.222222,0,-0.111111,0,0,1
3,0,0.111111,0,0.009799,0,0,1
4,0,0.138758,0,0.120632,0,0,1
5,0,0.555556,0,-0.444444,0,1,1
6,0,-0.444444,0,0.555556,0,1,0
7,0,0.325997,0,-0.222222,0,1,0
8,0,0.375439,0,-0.303783,0,1,0
9,0,-0.333333,0,0.444444,0,1,1
10,0,-0.444444,0,0.555556,0,0,1
11,0,-0.333333,0,0.444444,0,1,0
12,0,-0.222222,0,0.333333,0,0,1
13,0,-0.111111,0,0.222222,0,1,0
14,0,0.000000,0,0.111111,0,1,1
15,0,0.111111,0,0.000000,0,0,1
16,0,0.222222,0,-0.111111,0,1,0
17,0,0.333333,0,-0.222222,0,0,1
18,0,0.444444,0,-0.333333,0,1,0
19,0,0.555556,0,-0.444444,0,1,1

# E - Column types of returned data

The data returned from an automunge(.) call is intended to be suitable for direct application of machine learning in the framework of a user's choice. In some cases, downstream machine learning libraries may accept as input designations for the types of data found in a column, such as for instance if a column contains a numeric or categoric set. These type of designations may be used for determination of whether to apply an entity embedding layer for instance.

The automugne(.) function thus returns a report of data types for returned columns, available in the returned dictionary as postprocess\_dict[`columntype\_report'].

The report lists column headers of the retuned columns, aggregated by different types of column contents. Specifically, it lists column headers for column content types:

- continuous
- boolean
- ordinal
- onehot
- onehot\_sets
- binary
- binary\_sets
- passthrough

In [29]:
for keys in postprocess_dict['columntype_report']:
  print(keys)
  print(postprocess_dict['columntype_report'][keys])
  print()

continuous
['number1_DPrt', 'number2_DPrt']

integer
[]

boolean
['number1_NArw', 'number2_NArw', 'categoric1_NArw']

ordinal
[]

onehot
[]

onehot_sets
[]

binary
['categoric1_DPo6_0_DP10', 'categoric1_DPo6_1_DP10']

binary_sets
[['categoric1_DPo6_0_DP10', 'categoric1_DPo6_1_DP10']]

passthrough
[]

all_categoric
['number1_NArw', 'number2_NArw', 'categoric1_NArw', 'categoric1_DPo6_0_DP10', 'categoric1_DPo6_1_DP10']

all_numeric
['number1_DPrt', 'number2_DPrt']

## F - Inversion

The Automunge library includes an inversion option to recover the form of data as prior to transformations. This type of operation might be useful for instance in converting ML predictions back to the original form of labels, or otherwise for recovering data to invert transformations. The inversion operation is performed in the postmunge(.) function by activating the inversion parameter. The method relies on data properties stored in the postprocess\_dict which was returned from the corresponding automunge(.) call. For cases where a source column is included in multiple configurations, the inversion operation relies on a heuristic of selecting the shortest path of transformations with full information retention.

As an example of an inversion operation, if we want to recover the form of labels after a ML prediction process, we can pass those predictions as a dataframe with column header consistent to our processed labels as:

In [30]:
#To demonstrate inversion of labels we'll need a processed label column
#so let's run automunge(.) on df_train one more time and 
#this time designate a label column

df_train = pd.read_csv('Higgs_data_partial.csv')

train, train_ID, labels, \
val, val_ID, val_labels, \
test, test_ID, test_labels, \
postprocess_dict \
= am.automunge(df_train, 
  shuffletrain = False, 
  labels_column = '0')

_______________
Begin Automunge

______

versioning serial stamp:
_8.18_361821512397

Automunge returned train column set:
['1_nmbr', '2_nmbr', '3_nmbr', '4_nmbr', '5_nmbr', '6_nmbr', '7_nmbr', '8_nmbr', '9_nmbr', '10_nmbr', '11_nmbr', '12_nmbr', '13_nmbr', '14_nmbr', '15_nmbr', '16_nmbr', '17_nmbr', '18_nmbr', '19_nmbr', '20_nmbr', '21_nmbr', '22_nmbr', '23_nmbr', '24_nmbr', '25_nmbr', '26_nmbr', '27_nmbr', '28_nmbr', '1_NArw', '2_NArw', '3_NArw', '4_NArw', '5_NArw', '6_NArw', '7_NArw', '8_NArw', '9_NArw', '10_NArw', '11_NArw', '12_NArw', '13_NArw', '14_NArw', '15_NArw', '16_NArw', '17_NArw', '18_NArw', '19_NArw', '20_NArw', '21_NArw', '22_NArw', '23_NArw', '24_NArw', '25_NArw', '26_NArw', '27_NArw', '28_NArw']

Automunge returned ID column set:
['Automunge_index']

Automunge returned label column set:
['0_lbbn']

_______________
Automunge Complete

In [31]:
#this returned a one-hot encoded set for the two activations

labels

      0_lbbn
0          0
1          0
2          0
3          1
4          0
...      ...
9995       0
9996       1
9997       1
9998       1
9999       1

[10000 rows x 1 columns]

In [32]:
#now if we want to recover the original single column form can call

df_invert, recovered_list, inversion_info_dict = \
am.postmunge(postprocess_dict, labels, inversion='labels', 
          printstatus=True)

_______________
Begin Postmunge

Performing inversion recovery of original columns for label set.

Evaluating inversion paths for columns derived from: 0
Inversion path selected based on returned column 0_lbbn
With full recovery.
Recovered source column: 0

Inversion succeeded in recovering original form for columns:
['0']

In [33]:
#here are the recovered labels

df_invert

        0
0     1.0
1     1.0
2     1.0
3     0.0
4     1.0
...   ...
9995  1.0
9996  0.0
9997  0.0
9998  0.0
9999  0.0

[10000 rows x 1 columns]

In [34]:
#similarly, if we want to recover the form of df_train prior to encodings
#can apply inverison = 'test'

df_invert, recovered_list, inversion_info_dict = \
am.postmunge(postprocess_dict, train, inversion='test', 
          printstatus=True)

_______________
Begin Postmunge

Evaluating inversion paths for columns derived from: 1
Inversion path selected based on returned column 1_nmbr
With full recovery.
Recovered source column: 1

Evaluating inversion paths for columns derived from: 2
Inversion path selected based on returned column 2_nmbr
With full recovery.
Recovered source column: 2

Evaluating inversion paths for columns derived from: 3
Inversion path selected based on returned column 3_nmbr
With full recovery.
Recovered source column: 3

Evaluating inversion paths for columns derived from: 4
Inversion path selected based on returned column 4_nmbr
With full recovery.
Recovered source column: 4

Evaluating inversion paths for columns derived from: 5
Inversion path selected based on returned column 5_nmbr
With full recovery.
Recovered source column: 5

Evaluating inversion paths for columns derived from: 6
Inversion path selected based on returned column 6_nmbr
With full recovery.
Recovered source column: 6

Evaluating inversion paths for columns derived from: 7
Inversion path selected based on returned column 7_nmbr
With full recovery.
Recovered source column: 7

Evaluating inversion paths for columns derived from: 8
Inversion path selected based on returned column 8_nmbr
With full recovery.
Recovered source column: 8

Evaluating inversion paths for columns derived from: 9
Inversion path selected based on returned column 9_nmbr
With full recovery.
Recovered source column: 9

Evaluating inversion paths for columns derived from: 10
Inversion path selected based on returned column 10_nmbr
With full recovery.
Recovered source column: 10

Evaluating inversion paths for columns derived from: 11
Inversion path selected based on returned column 11_nmbr
With full recovery.
Recovered source column: 11

Evaluating inversion paths for columns derived from: 12
Inversion path selected based on returned column 12_nmbr
With full recovery.
Recovered source column: 12

Evaluating inversion paths for columns derived from: 13
Inversion path selected based on returned column 13_nmbr
With full recovery.
Recovered source column: 13

Evaluating inversion paths for columns derived from: 14
Inversion path selected based on returned column 14_nmbr
With full recovery.
Recovered source column: 14

Evaluating inversion paths for columns derived from: 15
Inversion path selected based on returned column 15_nmbr
With full recovery.
Recovered source column: 15

Evaluating inversion paths for columns derived from: 16
Inversion path selected based on returned column 16_nmbr
With full recovery.
Recovered source column: 16

Evaluating inversion paths for columns derived from: 17
Inversion path selected based on returned column 17_nmbr
With full recovery.
Recovered source column: 17

Evaluating inversion paths for columns derived from: 18
Inversion path selected based on returned column 18_nmbr
With full recovery.
Recovered source column: 18

Evaluating inversion paths for columns derived from: 19
Inversion path selected based on returned column 19_nmbr
With full recovery.
Recovered source column: 19

Evaluating inversion paths for columns derived from: 20
Inversion path selected based on returned column 20_nmbr
With full recovery.
Recovered source column: 20

Evaluating inversion paths for columns derived from: 21
Inversion path selected based on returned column 21_nmbr
With full recovery.
Recovered source column: 21

Evaluating inversion paths for columns derived from: 22
Inversion path selected based on returned column 22_nmbr
With full recovery.
Recovered source column: 22

Evaluating inversion paths for columns derived from: 23
Inversion path selected based on returned column 23_nmbr
With full recovery.
Recovered source column: 23

Evaluating inversion paths for columns derived from: 24
Inversion path selected based on returned column 24_nmbr
With full recovery.
Recovered source column: 24

Evaluating inversion paths for columns derived from: 25
Inversion path selected based on returned column 25_nmbr
With full recovery.
Recovered source column: 25

Evaluating inversion paths for columns derived from: 26
Inversion path selected based on returned column 26_nmbr
With full recovery.
Recovered source column: 26

Evaluating inversion paths for columns derived from: 27
Inversion path selected based on returned column 27_nmbr
With full recovery.
Recovered source column: 27

Evaluating inversion paths for columns derived from: 28
Inversion path selected based on returned column 28_nmbr
With full recovery.
Recovered source column: 28

Inversion succeeded in recovering original form for columns:
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28']

In [35]:
df_invert

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
0,0.869293,-0.635082,0.225690,0.327470,-0.689993,0.754202,-0.248573,-1.092064,0.000000,1.374992,...,-0.010455,-0.045767,3.101961,1.353760,0.979563,0.978076,0.920005,0.721657,0.988751,0.876678
1,0.907542,0.329147,0.359412,1.497970,-0.313010,1.095531,-0.557525,-1.588230,2.173076,0.812581,...,-1.138930,-0.000819,0.000000,0.302220,0.833048,0.985700,0.978098,0.779732,0.992356,0.798343
2,0.798835,1.470639,-1.635975,0.453773,0.425629,1.104875,1.282322,1.381664,0.000000,0.851737,...,1.128847,0.900461,0.000000,0.909753,1.108330,0.985692,0.951331,0.803252,0.865924,0.780118
3,1.344385,-0.876626,0.935913,1.992050,0.882454,1.786066,-1.646778,-0.942383,0.000000,2.423265,...,-0.678379,-1.360356,0.000000,0.946652,1.028704,0.998656,0.728281,0.869200,1.026736,0.957904
4,1.105009,0.321356,1.522401,0.882808,-1.205349,0.681466,-1.070464,-0.921871,0.000000,0.800872,...,-0.373565,0.113041,0.000000,0.755856,1.361057,0.986610,0.838085,1.133295,0.872245,0.808487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.743017,0.390507,-0.431368,0.734279,0.491310,1.748141,1.165475,-1.033300,0.000000,1.185004,...,-0.340253,1.074148,3.101961,0.768013,1.058611,0.979336,1.028349,0.964556,0.915222,0.816399
9996,2.778078,-0.498726,-0.236057,0.625503,0.443076,1.353130,0.014828,1.449298,2.173076,0.546673,...,0.779062,0.496485,0.000000,0.921317,0.814733,1.050062,1.759452,1.297594,1.164259,0.962886
9997,0.602100,2.008270,-1.646517,0.566484,-1.323110,0.597096,0.511923,0.191420,1.086538,0.315388,...,2.048284,-0.696127,0.000000,0.711091,0.863039,0.986306,0.672815,0.244809,0.607074,0.588277
9998,0.771017,-1.224333,0.076987,0.819454,1.574369,0.411866,-0.686255,-1.531129,2.173076,0.463828,...,2.454702,-0.137882,0.000000,0.847904,1.234889,1.074361,0.675443,0.374609,1.027287,1.185665
9999,0.545184,-1.011034,0.280067,0.152822,-0.196007,1.035253,-1.189292,-1.137523,2.173076,0.904491,...,-1.082298,-0.181720,1.550981,1.676911,1.059162,0.983805,1.137410,0.705999,1.035395,0.914397

In [36]:
#Voila